* {
  margin: 0;
  padding: 0;
  /* overflow: hidden; */
}

body {
  height: 100vh;
  width: 100vw;
  background-color: rgb(206 0 7);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.content {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

/* Top */

.title {
  font-family: "Qwigley", cursive;
  overflow: visible;
  font-size: 80px;
  color: rgb(213 173 69);
  margin-top: 30px;
}

/* Middle */
.pixel {
  border: 1px solid rgba(107, 103, 103, 0.143);
}

.drawing-zone {
  background-color: white;
  width: 70vmin;
  height: 70vmin;
  border-radius: 10px;
  box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
  display: grid;
}

/* Bottom */

/* buttons */

.buttons-container {
  display: flex;
  justify-content: space-around;
  gap: 2vmin;
  width: 100vmin;
  overflow: visible;
}

button {
  width: 10vmin;
  height: 10vmin;
  border-radius: 50%;
  box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
}

.left-buttons,
.right-buttons {
  display: flex;
  gap: 2vmin;
  font-family: "Qwigley", cursive;
  color: rgb(213 173 69);
  font-size: 25px;
}

.button-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.rainbow,
.reset {
  margin-top: 20px;
}

.button-text {
  font-size: 7vmin;
}

/* slider */

.slider-container {
  width: 40vmin;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.slider {
  -webkit-appearance: none;
  appearance: none;
  width: 100%;
  height: 30px;
  background: white;
  opacity: 0.9;
  border-radius: 15px;
}

.slider:hover {
  opacity: 1;
}

/* Special styling for WebKit/Blink */
input[type="range"]::-webkit-slider-thumb {
  -webkit-appearance: none;
  height: 30px;
  width: 30px;
  border-radius: 50%;
  background: #ffffff;
  cursor: pointer;
  margin-top: 0px; /* You need to specify a margin in Chrome, but in Firefox and IE it is automatic */
  box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d; /* Add cool effects to your sliders! */
}

/* All the same stuff for Firefox */
input[type="range"]::-moz-range-thumb {
  box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
  height: 30px;
  width: 30px;
  border-radius: 50%;
  background: #ffffff;
  cursor: pointer;
}

/* All the same stuff for IE */
input[type="range"]::-ms-thumb {
  box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
  height: 30px;
  width: 30px;
  border-radius: 50%;
  background: #ffffff;
  cursor: pointer;
}

.slider-paragraph {
  font-family: "Qwigley", cursive;
  color: rgb(213 173 69);
  font-size: 10vmin;
  font-weight: bold;
}
