* {
  margin: 0;
  padding: 0;
}

body {
  height: 100vh;
  width: 100vw;
  background-color: rgb(206 0 7);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.title {
  font-family: "Qwigley", cursive;
  font-size: 80px;
  color: rgb(213 173 69);
  margin-top: 30px;
}

.drawing-zone {
  background-color: white;
  width: 40rem;
  height: 40rem;
  border-radius: 10px;
}

.buttons {
  display: flex;
  justify-content: space-between;
  width: 50rem;
}

button {
  width: 5rem;
  height: 5rem;
  border-radius: 50%;
}

.left-buttons,
.right-buttons {
  display: flex;
  gap: 20px;
  font-family: "Qwigley", cursive;
  color: rgb(213 173 69);
  font-size: 25px;
}

.button-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.rainbow,
.reset {
  margin-top: 20px;
}
